*{
    padding: 0;
    margin: 0;
}

.afbeelding-1{
    border: pink 1px solid;

    
}

.img-1{

    border: black 1px solid;
}

.prijs-1{
    border: black 1px solid;
    font-size: 2rem;
}

.beschrijving-1{
    border: black 1px solid;
    font-size: 2rem;
}

.toevoegen-1{
    border: black 1px solid;
    font-size: 2rem;  
    text-align: center;
}

.afbeelding-2{
    border: pink 1px solid;
}

.prijs-2{   
    border: black 1px solid;
    font-size: 2rem;
}

.beschrijving-2{
    border: black 1px solid;
    font-size: 2rem;
}

.toevoegen-2{

    border: black 1px solid;
    font-size: 2rem;  
    text-align: center;
}


.afbeelding-3{
    border: pink 1px solid;
}

.prijs-3{

    border: black 1px solid;
    font-size: 2rem;
}

.beschrijving-3{
  
    border: black 1px solid;
    font-size: 2rem;
}

.toevoegen-3{

    border: black 1px solid;
    font-size: 2rem; 
    text-align: center;
}


.afbeelding-4{
    border: pink 1px solid;
}

.prijs-4{
    border: black 1px solid;
    font-size: 2rem;
}

.beschrijving-4{
    border: black 1px solid;
    font-size: 2rem;
}

.toevoegen-4{
    border: black 1px solid;
    font-size: 2rem;  
    text-align: center;
}