@font-face {
    font-family: coffee;
    src: url(/fonts/MADE\ Sunflower\ PERSONAL\ USE.otf);
}

@font-face{

    font-family: TT rounds;
    src: url(/fonts/TT\ Rounds\ Neue\ Trial\ Black.ttf);
  }

*{
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
}

.homeText1{
    font-family: TT rounds;
    color:#B2D3A8;
    font-size: 3rem;
    text-shadow: 	
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;;
}

.homeText2{
    font-family: coffee;
    font-size: 3rem;
    color: #B2D3A8;
    text-shadow: 	
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;;
}

.topScherm{
    flex-direction: column;
    background-image: url(/afbeeldingen/afbeelding\ michelle.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    height: 50%;
}

.bottemScherm{
    background-color: #FFB74F;
    border: red 1px solid;
    height: 30rem  ;
    justify-content: center;
    display:flex
}

#home-button{
    max-height: 4rem;
    width: 8rem;
    
}


#topSchermR{
border: red 1px solid;

}

#topSchermL{
    border: blue 1px solid;
 

}