@font-face {
  font-family: "coffee";
  src: url(/fonts/Coffee\ and\ Crafts.ttf);
}
*{
  padding: 0;
  margin: 0;
  font-family: coffee;
}

.body {
  font-family: coffee;
}

.navbar{
  height: 6rem;
  background-color: #D0DCA7 ;
  justify-content: space-between;
  align-items: auto;
  display: flex;
}

.headtext{
  padding-top: 1.3rem ;
  font-size: 1.5rem;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  margin-top: 2rem;
  padding-top: 1rem;
  height: 1rem;
  left: 20px;
  width: 2rem;
  cursor: pointer;
  z-index: 1;

}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #515754;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #B2D3A8;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #515754;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #B4C4A9;
}

.shoppingcart{
  padding-top: 2.1rem;
 font-size: 2rem;
 margin-right: 1.5rem;
 cursor: pointer;
 
}